
#header{
    font-size:12px;
    position: relative;
    border:solid 1px #ccc;
    padding:3px 0 20px;
    margin-bottom: 1px;
    border-radius:3px;
    background: -webkit-gradient(linear,left bottom,left top,from(#fff), to(#eee), color-stop(0.4, #fff));
}

.tabs li {
    position: relative;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#DDD));
    border: solid 1px #BBB;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    -webkit-box-shadow: -1px -1px rgba(0,0,0,.1);
    margin: 0 2px;
    padding: 0 5px;
    text-align: center;
    float: left;
    cursor: pointer;
    color: #888;
}

.tabs li.active {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#fff));
    border-bottom-color: #fff;
    font-weight: bold;
}

.app{
    float:left;
}